* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: white;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section.header.container {
  margin-bottom: 5em;
}

.header {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

.row {
  display: flex;
}

.col-header,
.col-header-btn {
  position: relative;
  width: 100%;
  padding: 2em 1em;
}

/* TABLE */

.table {
  border-collapse: collapse;
  margin-top: 3em;
}

.table thead th {
  border-bottom: 2px solid #dee2e6;
}

.table th {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

.table td {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  width: 25%;
}

img {
  width: 40%;
  height: 22%;
  border-radius: 50%;
}
button {
  color: rgba(78, 78, 78, 0.63);
  font-size: 1em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 1em;
  border: 0;
  background-color: white;
}
